

body {
    background: #0976e4;

}

img {
    width: 100%;
    height: 100%;
}

.container {
    background-color: rgb(243, 243, 243);
    position: relative;
    display: block;
    height: 100%;
}





/*
/*   Clouds
/*

/* -------------------------------------------------------------------------- */
.cloud-container {
    position: relative;
    display: block;
    width: 100%;
}

/* -------------------------------------------------------------------------- */
.cloud-background,
.cloud-foreground {
    width: 100%;
    height: 350px;
    /* outline: 2px solid blue; */
    position: absolute;

    animation: up-down var(--duration) ease-in-out infinite;
    animation-delay: var(--delay);
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


/* -------------------------------------------------------------------------- */
.cloud-foreground {
    /* Makes it on top of the game boy. */
    margin-top: -7rem;
}
